body {
  background-color: #097b69;
  /* background-color: #FDF5DF; */
  margin: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  font-family: Arial, sans-serif;
}

#new-task-form {
  width: 100%;
  margin-bottom: 20px;
  text-align: center;
}

#new-task-title {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  box-sizing: border-box;
}

#delbtn {
  background-color: #FDF5DF;
  cursor: pointer;
  border-color: #ccc;
  border-radius: 10%;
}

#delbtn:hover {
  background-color: whitesmoke;
}

#addbtn {
  background-color: white;
  padding: 10px;
  width: 80%;
  cursor: pointer;
  border-radius: 5px;
  border-width: 1px;
}

#addbtn:hover {
  background-color: whitesmoke;
}

.completed {
  text-decoration: line-through;
  color: gray;
}

#list {
  list-style-type: none;
  padding: 0;
  width: 80%;
}

#list li {
  display: flex;
  padding: 10px;
  background-color: white;
  margin-bottom: 5px;
  border-radius: 5px;
  justify-content: space-between;
}